:root {
  font-size: 20px;
  font-weight: bold;
}
* {
  margin-bottom: 0.3em;
  padding-right: 0.3em;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 10px 10px 10px 10px;
}

button {
  background-color: rgba(17, 127, 27, 0.8);
  color: white;
  border-radius: 24px 24px 24px 24px;
  padding: 0.7em;
  font-size: 1.2em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}
.container {
  max-width: 1024px;
  margin: auto;
}

#error {
  color: red;
}
